<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Lirik</string>
	<key>CFBundleDisplayName</key>
	<string>Lirik</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>NSPrincipalClass</key>
	<string>lirik.LirikWidget</string>
	<key>PKWidgetPreferenceClass</key>
	<string>lirik.LirikPreferenceViewController</string>
	<key>PKWidgetAuthor</key>
	<string>Ridha Ahmad Firdaus</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Lirik may use Automation to read Spotify or Apple Music when those player modes are selected. System Now Playing / NetEase uses mediaremote-adapter or media-control instead.</string>
</dict>
</plist>
